<div class="login-box">	

    
  <h2>카테고리 검색</h2>
    
  <form action="/categ/categ_process" method="post"  style="margin-bottom: 20px;">


   <div class="form-group">
        <label>대분류 검색</label>
        <select id="categ1" name="categ1" required>
        <option value="" disabled selected>카테고리를 선택해주세요.</option>
        <% var k=0;
                while (k<categ.length) { %> 
            <option value="<%=categ[k].bigcon%>"><%=categ[k].bigname%></option>
            <% k++ } %>
                    
        </select>
 </div>
    <div class="form-group">
        <label>소분류 검색</label>
        <select id="categ2" name="categ2" required>
        <option value="" disabled selected>카테고리를 선택해주세요.</option>
        <% var k=0;
                while (k<book.length) { %> 
            <option value="<%=book[k].mincon%>"><%=book[k].minname%></option>
            <% k++ } %>
                    
        </select>
 </div>



    <button type="submit" class="btn btn-primary big-login-btn">검색하기</button>
  </form>
</div>

