<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="/css/style.css">
  <title>중고책거래 서비스</title>
  
</head>
<body>

  <div class="navbar">
    <a href="/" class="logo">GCShop</a>
    <ul>
      <li><a href="#">Dashboard</a></li>

      <li class="dropdown-parent">
        <a href="#">Category ▾</a>
        <ul class="dropdown-menu">
          <li><a href="/category/html-css">HTML & CSS</a></li>
          <li><a href="/category/javascript">JavaScript</a></li>
          <li><a href="/category/php-mysql">PHP & MySQL</a></li>
        </ul>
      </li>

      <li class="dropdown-parent">
        <a href="#">DB Admin ▾</a>
        <ul class="dropdown-menu">
          <li><a href="/admin/create-table">Table Create</a></li>
          <li><a href="/code/view">Code CRUD</a></li>
          <li><a href="/product/view">Product CRUD</a></li>
          <li><a href="/type/view">Board Type CRUD</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <a href="/chat" class="chat-button">💬 CHAT</a>

  <div class="home-content2">
    <p>여기는 본문 영역입니다. 예: 책 목록, 검색 결과 등</p>
  </div>

</body>
</html>
